body {
    display: flex;
    justify-content: space-between;
}
body{
    background: lightgoldenrodyellow;
}
.Div{
    display: inline-flex;
    align-items: center;

    flex-direction: column;
    margin: 5px;
    padding: 5px;

}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background: papayawhip;
   border: darkgoldenrod 1px solid;
    border-radius: 3px;
}
.con{
    background: beige;
    border: rosybrown 2px solid;
    width: 400px;
    border-radius: 10px;
}